.search-title h1{ 
    color: white;
}


#train-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .detail-lists {
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 63%;
  }
  
  .detail-lists ol {
    color: #605f5f;
  }
  
  .detail-lists ol li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid gray;
  }
  
  .detail-lists ol li button {
    background-color: transparent;
    border: none;
    color: #233c87;
    cursor: pointer;
    font-size: 14px;
  }

  .detail-lists ol li button:hover {
    color: #2e5add;
    text-decoration: underline;
  }